header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 90%;
    margin: 1rem auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

div {
    margin: 1rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 300px;

}

.nav li {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

h1 {
    text-align: center;
    padding: 1rem;
    letter-spacing: 4px;
    color: #333;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px #282828;
}